*{
	box-sizing: border-box;
}

.main-grid-container{
	display:block;
	width: clamp(18.75rem,75%,100rem);
	margin:0 auto;
	height:100%;
	padding-top:6.25rem;
}

.main-grid{
	display:grid;
	grid-template-columns:repeat(12,1fr);
	height:100%;
}

.main-grid img{
	width:100%;
	height:auto;
}

.main-grid video{
	width:100%;
	height:auto;
}

.main-grid-container.work{
	display:block;
	width: clamp(18.75rem,75%,100rem);
	margin:0 auto;
	padding-top:5.25rem;
	padding-bottom:5.25rem;
	height:auto;
}

.main-grid.work{
	display:grid;
	grid-template-columns:repeat(12,1fr);
	height:auto;
}