*{
	box-sizing: border-box;
}

.wrapper{
	width: clamp(18.75rem,100%,100rem);
	margin: 0 auto;
}

.main-grid-container{
	display:block;
	width: clamp(18.75rem,75%,100rem);
	margin:0 auto;
	height:auto;
	padding-top:5rem;
}

#landing .main-grid-container{
	/*padding-top:6.25rem;
	padding-bottom:5rem;*/
}

#landing{
	height:100vh;
/*	test*/
}

#landing-tease{
	height:100vh;
}

.main-grid{
	display:grid;
	grid-template-columns:repeat(12,1fr);
	height:100%;
}

.main-grid img{
	width:100%;
	height:auto;
}

.main-grid video{
	width:100%;
	height:auto;
}

.main-grid-container.work{
	display:block;
	width: clamp(18.75rem,75%,100rem);
	margin:0 auto;
	padding-top:5.25rem;
	padding-bottom:5.25rem;
	height:auto;
}

.main-grid.work{
	display:grid;
	grid-template-columns:repeat(12,1fr);
	height:auto;
}

.main-grid.works{
	padding:0 9rem;
}

.three-grid-columns{
	display: grid;
	grid-column: 1/13;
	grid-template-columns:repeat(3, minmax(0,1fr));
	height: auto;
	margin-bottom: 1.5rem;
}

.img-caption.three-grid-caption{
	grid-column: 2/3;
}

/*comment test*/


/*Teaser Landing Page===============================================*/
.main-grid-container.portfolio-tease{
	display:100vh;
	padding-top:0;
}

.tease-grid{
	display:grid;
	grid-template-columns:repeat(12,1fr);
}

.main-grid.portfolio-tease{
	display:flex;
	justify-content: center;
	align-items:center;
	text-align:center;
	height:100vh;
}

.portfolio-teaser-header{
	align-items:center;
	grid-column:1/13;
}


.tease-button{
	grid-column:6/8;
	color:black;
}


/*MEDIA QUERIES========================================================================================*/
/*Inbetween (1364px)--------------------------------------------------------------------------------------*/
@media screen and (max-width:85.25em){
	/*INDEX------------------------*/
	#lower-bar{
		padding-top:2.5rem;
	}

	/*test change*/
	#landing .main-grid-container{
		padding-top:2rem;
		padding-bottom:1rem;
	}

	#landing .main-grid-container .portfolio-tease{
		padding-top:2rem;
		padding-bottom:1rem;
		height:100%;
	}

	.banner-wrapper{
		padding-top:2rem;
	}

	/*WORKS---------------------------*/
	.main-grid.works{
		padding: 0 5rem;
	}

	#work-preview{
		padding-top:2.5rem;
	}
}


/*Small Window (1200px)------------------------------------------------------------------------------------------------*/
@media screen and (max-width:75em){
	/*INDEX---------------------------*/
	#works .divider-line{
		margin:0 7.5rem;
	}
}

/*Inbetween (1180px)-----------------------------------------------------------------------------------*/
@media screen and (max-width:73.75em){
	/*GLOBAL========================*/
	/*TYPOGRAPHY*/
	h1{
		font-size:3rem;
	}

	h3{
		font-size:2rem;
	}

	h4{
		font-size:1.5rem;
	}

	/*INDEX---------------------------*/
	#works .divider-line{
		margin:0 7.5rem;
	}

	/*LANDING TEASE---------------------------*/
	.tease-button{
		grid-column:5/9;
		color:black;
	}
}

/*Inbetween (1072px)-----------------------------------------------------------------------------------*/
@media screen and (max-width:67em){
	/*WORKS------------------------*/
	#work-preview{
		padding-top:2.5rem;
	}

	.work-preview-number{
		top:0rem;
		left:1.875rem;
	}

	.work-preview-image{
		grid-column:1/13;
	}

	.work-preview-content{
		grid-column:1/10;
		padding-left:2.5rem;
	}


	.main-grid.works{
		padding:0 4rem;
	}

	/*ABOUT ME-----------------------*/
	.main-grid-container.about-me{
		padding-top:1.75rem;
	}
}


/*Inbetween (1020px)-----------------------------------------------------------------------------------*/
@media screen and (max-width:63.75em){
	/*GLOBAL========================*/
	/*FOOTER*/
	.footer-container{
		grid-template-columns: 1fr 0.5fr 1fr;
	}

	/*INDEX------------------------*/
	.main-grid-container{
		grid-column:1/13;
		position:centre;
	}

	.ethos{
		grid-column:1/13;
	}

	#works .divider-line{
		margin:0 6rem;
	}

	#landing .main-grid-container{
		padding-top:3rem;
		padding-bottom:1rem;
	}

	/*ABOUT ME PAGE------------------*/
	.about-me-left-side{
		grid-column:1/13;
	}

	.about-me-right-side{
		grid-column:1/10;
	}

	/*WORKS------------------*/
	.principle-body{
		padding-left:1rem;
	}
}

/*Inbetween (912px)------------------------------------------------------------------*/
@media screen and (max-width: 57em){
	#landing{
		height:auto;
	}
}

/*Inbetween (896px)------------------------------------------------------------------*/
@media screen and (max-width:56em){
	/*GLOBAL=========================*/
	#landing .main-grid-container{
		/*padding-top:0;*/
	}

	/*INDEX------------------------*/
	#works .divider-line{
		margin:0 4rem;
	}
	
	.work-pages-content{
		grid-column:1/13;
	}

	.work-pages-images-container{
		grid-column:1/13;
	}

	.main-grid-container.work{
		padding-top:3rem;
		padding-bottom:3rem;
	}

	/*ABOUT ME PAGE------------------*/
	.extra-info-1{
		grid-column:1/6;
	}

	.extra-info-2{
		grid-column:6/13;
	}
}

/*Inbetween (840px)------------------------------------------------------------------*/
@media screen and (max-width:52.5em){
	/*GLOBAL=========================*/
	#landing .main-grid-container{
		padding-top:3rem;
	}

	#landing .main-grid-container{
		padding-top:4rem;
		padding-bottom:2rem;
	}

	/*WORKS-----------------------------*/
	/*.text-section{
		grid-column: 1/13;
	}*/

	.graphical-experimentation-image, .final-graphic-assets-img1, .final-graphic-assets-img2, .final-graphic-assets-img3,
	.example-gif, .example-image, .example-image-right, .microsite-example.works-grid .example-video, 
	.microsite-example.works-grid.twitch .example-video,  .microsite-example.works-grid.twitch .example-image,
	.microsite-example.works-grid.twitch .example-video.watg{
		grid-column:1/13;
	}

	.example-information-first, .example-information-first.watg{
		grid-column:1/13;
		grid-row:2/3;
	}

	.example-information, .example-information-left, .microsite-example.works-grid.twitch .example-information, 
	.microsite-example.works-grid.twitch .example-information.watg{
		grid-column:1/13;
		grid-row:1/2;
	}

	.works-subheader{
		margin:0rem;
	}

	.example-video.dippd-desktop{
		grid-column:1/13;
		grid-row:17/18;
	}

	.example-video.dippd-mobile{
		grid-column:4/10;
	}
}



/* #Tablet Devices (768px)----------------------------------------------------------------------------------------------*/
@media screen and (max-width:48em){
	/*FOOTER*/
	.footer-container{
		grid-template-columns: 1fr 0.1fr 1fr;
	}

	/*LANDING TEASE---------------------------*/
	.tease-button{
		grid-column:4/10;
		color:black;
	}

	/*WORKS-------------------------*/
	.main-grid.works{
		padding:0 0;
	}

	.work-preview-content{
		grid-column:1/12;
		padding-left:5.5rem;
	}

	.work-preview-number{
		top:-0.5rem;
		left:1.875rem;
	}

	.principles-header, .questions-header{
		grid-column:1/13;
	}

	.principle{
		grid-column:1/2;
	}

	.principle-body{
		grid-column:2/13;
		padding-left:1rem;
	}

	.question, .question-end{
		grid-column:1/13;
		display:flex;
	}

	.client-goals, .user-goals, .moodboard-image-1, .moodboard-image-2{
		grid-column:1/13;
	}

	/*STYLE GUIDE-----------------------------------------------------*/
	/*.aside-menu{
		grid-column:1/13;
		position:sticky;
		top:0rem;
		background:white;
	}

	.sticky-element h4{
		margin-bottom:0;
	}*/

	.index-links{
		display:flex;
		justify-content: flex-start;
	}

	.index-links h6{
		margin-top:0rem;
		margin-bottom: 0rem;
		padding-top:0.625rem;
		padding-bottom:1.25rem;
		padding-right:1.25rem;
	}

	.main-section{
		grid-column:1/13;
	}

	.style-guide-paragraphs{
		margin-right:0;
	}

	/*REFERENCES-----------------------------*/
	#coding-references{
		grid-column:1/13;
	}
	#image-icons-references{
		grid-column:1/13;
	}
}

/*Inbetween (660px)------------------------------------------------------------------*/
@media screen and (max-width:41.25em){
	/*GLOBAL==========================*/
	/*TYPOGRAPHY*/
	h1{
		font-size:2.75rem;
	}

	.footer-container{
		grid-template-columns:1fr 1fr;
	}

	.footer-social-media{
		display:none;
	}

	.footer-social-media-mobile{
		display:block;
		grid-column:2/3;
		justify-self:end;
	}

	.footer-third{
		grid-column:1/4;
		justify-self:start;
	}

	/*WORKS----------------------------*/
	.work-preview-content{
		padding-left:5rem;
	}

	/*ABOUT ME PAGE------------------*/
	.extra-info-2{
		grid-column:8/13;
	}
}


/*Inbetween (600px)------------------------------------------------------------------*/
@media screen and (max-width:37.5em){
	/*GLOBAL==========================*/
	/*TYPOGRAPHY*/
	h1{
		font-size:2.5rem;
	}

	/*INDEX-----------------------------*/
	#works .divider-line{
		margin:0 2.5rem;
	}

	#landing .main-grid-container{
		padding-top:5rem;
		padding-bottom:3rem;
	}
}

/*Inbetween (544px)------------------------------------------------------------------*/
@media screen and (max-width:34em){
	/*GLOBAL==========================*/
	h1{
		font-size:2.25rem;
	}

	/*INDEX----------------------------*/
	.theme-buttons svg{
		width:20px;
		height:20px;
	}

	/*WORKS----------------------------*/
	.work-preview-content{
		padding-left:4rem;
	}

	/*ABOUT ME PAGE------------------*/
	.about-me-right-side{
		grid-column:1/13;
	}

	.extra-info-1{
		grid-column:1/7;
	}
	.extra-info-2{
		grid-column:9/13;
	}
}

/*Inbetween (512px)-------------------------------------------------------*/
@media screen and (max-width:32em){
	/*GLOBAL========================*/
	/*MAIN NAV*/
	.nav-links{
		display:none;
	}

	.hamburger-button{
		display:flex;
		justify-content: center;
		align-items: center;
	}

	.progress-bar{
		padding-top:3.9rem;
	}

	/*WORKS----------------------------*/
	.work-preview-number{
		top:-0.5rem;
		left:1.875rem;
	}
}

/*Inbetween (487px)-------------------------------------------------------*/
@media screen and (max-width:30.438em){
	/*GLOBAL========================*/
	/*INDEX-------------------------------*/
	#landing .main-grid-container{
		padding-top:0rem;
	}
}



/* #Mobile Devices (480px)----------------------------------------------------------------------------------------------*/
@media screen and (max-width:30em){
	/*GLOBAL==========================*/
	/*TYPOGRAPHY*/
	h1{
		font-size:2rem;
	}
	h3{
		font-size:1.875rem;
	}

	/*INDEX-------------------------------*/
	#landing .main-grid-container{
		padding-top:2rem;
	}

	/*LANDING TEASE---------------------------*/
	.tease-button{
		grid-column:3/10;
		color:black;
	}

	/*WORKS----------------------------*/
	#work-preview{
		padding-top:1.5rem;
	}

	.work-preview-number{
		top:-1rem;
		left:1.875rem;
	}

	.work-preview-content{
		padding-left:3.75rem;
	}

	.example-video.dippd-mobile{
		grid-column:2/12;
	}

	/*ABOUT ME---------------------------*/
	.main-grid-container.about-me{
		padding-top:1.5rem;
	}
}

/*Inbetween (440px)------------------------------------------------------------------*/
@media screen and (max-width:27.5em){
	/*INDEX--------------------------------*/

}

/*Inbetween (434px)------------------------------------------------------------------*/
@media screen and (max-width:27.125em){
	/*GLOBAL=================================*/
	/*FOOTER*/
	.footer-third{
		grid-column:1/3;
	}


	/*INDEX--------------------------------*/
	.ethos h1{
		font-size:1.875rem;
	}

	#lower-bar{
		grid-template-columns: 1.5fr 2.5fr 1fr;
	}

	/*WORKS----------------------------*/
	.work-preview-content{
		padding-left:3.5rem;
	}

}

/*Inbetween (400px)-----------------------------------------------------------------------*/
@media screen and (max-width:25em){
	/*INDEX---------------------------*/
	#works .divider-line{
		margin:0 1.75rem;
	}

	#landing .main-grid-container{
		/*padding-bottom:5rem;*/
	}

	/*WORKS----------------------------*/
	.work-preview-content{
		padding-left:3rem;
	}
}



/*Inbetween (370px)------------------------------------------------------------------*/
@media screen and (max-width:23.125em){
	/*GLOBAL=====================================*/
	/*FOOTER*/
	.footer-header h5{
		font-size:1.25rem;
	}

	.footer-container p{
		font-size:0.875rem;
	}



	/*INDEX--------------------------------*/
	.ethos h1{
		font-size:1.75rem;
	}

	#works .divider-line{
		margin:0 1rem;
	}

	#landing .main-grid-container{
		padding-top:4rem;
		padding-bottom:3rem;
	}
}

/*Inbetween (360px)------------------------------------------------------------------*/
@media screen and (max-width:22.5em){
	/*GLOBAL==================================*/
	/*HEADER*/
	header{
		padding:1.25rem 1.25rem;
	}


	/*FOOTER*/
	.footer-container{
		padding:2.5rem 1.25rem;
	}

	.resources-text{
		flex-direction:column;
	}

	.creation-update-text{
		padding-bottom:0.625rem;
	}

	.resources-text p{
		padding-bottom:0.3125rem;
	}


	/*INDEX--------------------------------*/
	#landing .main-grid-container{
		margin:0 1.25rem 0 1.25rem;
		padding-top:4rem;
	}

	.main-grid-container.work{
		margin:0 1.25rem 0 1.25rem;
	}

	.progress-bar{
		margin:0 1.25rem 0 1.25rem;
	}

	#works .divider-line{
		margin:0 0.875rem;
	}

	/*WORKS----------------------------*/
	.work-preview-content{
		padding-left:3rem;
	}

	.work-preview-number{
		top:-1rem;
		left:1.25rem;
	}

	.main-grid.works{
		padding:0 0rem;
	}

	/*STYLE GUIDE-----------------------*/
	.main-grid-container.style-guide, .main-grid-container.references, .banner{
		margin:0 1.25rem 0 1.25rem;
	}

	#coding-references ul, #image-icons-references ul{
		padding-left:1.25rem;
	}
}

/*Inbetween (344px)------------------------------------------------------------------*/
@media screen and (max-width:21.5em){
	.main-grid.works{
		padding:0 2rem;
	}
}

