/*REFERENCES (Also found in the code)
- Hamburger menu reference: https://www.youtube.com/watch?v=dIyVTjJAkLw&t=24s
- Dark/Light Mode source:https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8*/

/*TABLE OF CONTENTS (MAIN PAGE SECTIONS)
Control F to these sections:
- GLOBAL
	- Typography
	- Color Swatches
	- Buttons
	- Navigation Bar
	- Divider Line
	- Footer
- INDEX
	- Landing Page
	- Works Sections
- WORKS PAGE (VENTURA FUTURE)
	- Work Preview Section
	- Graphic Assets
	- Microsite Assets
	- Final Thoughts and Index
- WORKS PAGE (DIPP'D DONUTS)
	- Work Preview Section
	- Research Gatherings
	- Brand Iterations
	- Implementing the Design
	- Final Video Assets
- ABOUT ME
- STYLE GUIDE
- REFERENCES
*/


/*GLOBAL========================================================================*/
*{
	box-sizing: border-box;
	/*transition: background 0.6s ease-in-out, color 0.5s ease-in-out;*/
}

/*Dark/Light Mode Theme*/
/*Dark/Light Mode source:https://dev.to/ananyaneogi/create-a-dark-light-mode-switch-with-css-variables-34l8*/
:root{
	--primary-color:#FF9425;
	--secondary-color:#FFBB73;
	--tertiary-color:#0D3FFF;
	--font-color:black;
	--bg-color:#FFFFFF;
	--heading-color:black;
	--line-color:rgb(0,0,0, .5);
}

[data-theme="dark"]{
	--primary-color:#FF9425;
	--secondary-color:#FFBB73;
	--tertiary-color:#0D3FFF;
	--font-color:white;
	--bg-color:#373A36;
	--heading-color:white;
	--line-color:white;
}

body{
	font-family:"Inter", sans-serif;
	font-weight:400;
	margin:0;
	background-color:var(--bg-color);
}


html{
	scroll-behavior: smooth;
}

a{
	color:#0D3FFF;
	text-decoration:none;
}

a:hover{
	color:#0D3FFF;
	text-decoration:underline;
}

pre{
	white-space: pre-line;
}

/*TYPOGRAPHY-----------------------------------------------------------------------*/
h1{
	font-size:3.5rem;
	font-weight: 700;
}

h2{
	font-size:3rem;
	font-weight:600;
}

h3{
	font-size:2.25rem;
	font-weight:600;
}

h4{
	font-size:1.875rem;
	font-weight:600;
}

h5{
	font-size:1.5rem;
	font-weight:600;
}

h6{
	font-size:1.25rem;
}


p{
	font-size:1rem;
	font-weight:400;
}

.footer-social-media-mobile{
	display:none;
}

.footer-fineprint{
	font-size:1rem;
}

.annotations{
	font-size:0.875rem;
	font-weight:500;
	/*font-style:italic;*/
}

.semi-bold-orange-text{
	font-weight:600;
	color:#FF9425;
}

.semi-bold{
	font-weight:600;
}

.medium{
	font-weight:500;
}

.non-bold{
	font-weight:400;
}


/*COLOR SWATCHES---------------------------------------------------------------------------------------------*/
.regular-orange{
	background:#FF9425;
	color:#FFFFFF;
}

.light-orange{
	background:#FFBB73;
}

.blue{
	background:#0D3FFF;
}

.dark-mode-black{
	background:#373A36;
}

.regular-orange-text{
	color:#FF9425;
}

.light-orange-text{
	color:#FFBB73;
}

.blue-text{
	color:#0D3FFF;
}

.black{
	background:black;
}

.white{
	background:white;
}

.black-text{
	color:black;
}

.white-text{
	color:white;
}

/*BUTTONS------------------------------------------------------------------------------------------*/
.button{
	border-radius:10px;
	padding:5px 10px 5px 10px;
	border:2px solid black;
	background:white;
	cursor:pointer;
}

.button.light-mode{
	margin-right:0.625rem;
}


/*NAVIGATION BAR---------------------------------------------------------------------------------*/
header{
	position:sticky;
	top:0;
	z-index:1200;
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding:1.25rem 1.875rem;
	/*background:white;*/
	transition:top 0.3s;

	background-color:var(--bg-color);
}

header a{
	text-decoration: none;
}

header a:hover{
	text-decoration-thickness:3px;
}

.nav-logo a:hover{
	text-decoration:none;
}

.nav-logo h6{
	margin:0;
}

.nav-links{
	display:flex;
	justify-content: space-between;
}

.nav-links h6{
	display:flex;
	justify-content: space-between;
	margin:0;
	/*color:var(--font-color);*/
}

.nav-links a{
	color:var(--font-color);
	text-decoration-color:#0D3FFF;
}

.link-one{
	padding-right:2.5rem	;
}


/***Hamburger Menu***/
/*- Hamburger menu reference: https://www.youtube.com/watch?v=dIyVTjJAkLw&t=24s*/

.hamburger-button{
	display:none;
	position:relative;
	width:45px;
	height:40px;
	cursor:pointer;
	transition:all .3s ease-in-out;
	/*border:3px solid black*/
}

.hamburger-icon{
	width:40px;
	height:2px;
	transition:all .3s ease-in-out;
	background:var(--font-color);
}

.hamburger-icon::before,
.hamburger-icon::after {
	content:'';
	position:absolute;
	width:40px;
	height:2px;
	transition:all .3s ease-in-out;
	background:var(--font-color);
}

.hamburger-icon::before{
	transform:translateY(-10px);
}

.hamburger-icon::after{
	transform:translateY(10px);
}

/*Hamburger Animation*/
.hamburger-button.open .hamburger-icon{
	transform:translate(-10px);
	background:transparent;
}

.hamburger-button.open .hamburger-icon::before{
	transform: rotate(45deg) translate(8px, -8px)
}

.hamburger-button.open .hamburger-icon::after{
	transform: rotate(-45deg) translate(8px, 8px)
}

/***Dropdown***/
#dropdown{
	position:absolute;
	top:78px;
	z-index:1199;
	width:100%;
	display:none;
	background:var(--bg-color);
}

#dropdown.active{
	display:block;
}

.dropdown-menu{
	position:fixed;
	width:100%;
	z-index:1198;
	background:var(--bg-color);
}

#dropdown .divider-line{
	width:100%;
	margin-top:0.313rem;
	margin-bottom:0.313rem;
}

#dropdown .divider-line.bottom-line{
	margin-bottom:0;
}

#dropdown h6{
	margin:0;
	padding-top:1rem;
	padding-bottom:1rem;
	padding-right:1.875rem;
}

.nav-wrapper{
	display: flex;
	justify-content: flex-end;
	text-align:right;
}

.dropdown-nav-links a{
	color:black;
	text-align:right;
	color:var(--font-color);
	text-decoration-color: #0D3FFF;
}

/*dropdown animation*/
.dropdown-menu.open{
	animation:dropdownOpen 300ms ease-in forwards;
}

.dropdown-menu.close{
	animation:dropdownClose 300ms ease-out forwards;
}

@keyframes dropdownWrapper{
	0%{
		/*transform:scale(0);*/
		transform:translateY(-600px);
	}
	80%{
		/*transform:scale(1.1);*/
	}
	100%{
		/*transform:scale(1);*/
		transform:translateY(0);
	}
}


@keyframes dropdownOpen{
	0%{
		/*transform:scale(0);*/
		transform:translateY(-600px);
	}
	80%{
		/*transform:scale(1.1);*/
	}
	100%{
		/*transform:scale(1);*/
		transform:translateY(0);
	}
}

@keyframes dropdownClose{
	0%{
		/*transform:scale(0);*/
		transform:translateY(0px);
	}
	80%{
		/*transform:scale(1.1);*/
	}
	100%{
		/*transform:scale(1);*/
		transform:translateY(-600px);
	}
}




/*DIVIDER LINE--------------------------------------------------------------------------------------*/
.divider-line{
	display:block;
	width:clamp(70%,75%,80%);
	height:1px;
	margin: 1em 0;
	padding:0;
	background:var(--line-color);
	/*background:rgb(0,0,0,.6);*/
}

/*FOOTER------------------------------------------------------------------------------------------------*/
.footer-container{
	display:grid;
	padding:2rem 2.5rem;
	grid-template-columns: repeat(3, 1fr);
}

.footer-container a{
	text-decoration:none;
	color:black;
}

.footer-container h5{
	margin:0;
	margin-bottom:0.3125rem;
}

.footer-container p{
	margin:0.625rem 0rem;
	margin-top:0;
	margin-bottom:0;
}

.footer-first{
	grid-column:1/2;
}

.footer-third{
	grid-column:3/4;
	justify-self:end;
	padding-top:2rem;
}

.resources-text{
	display:flex;
	justify-content: flex-start;
}

.footer-email{
	padding-bottom:1.25rem;
}

.resources-text p{
	padding-right: 1rem;
}

.resources-text a{
	/*color:#0D3FFF;*/
}

.resources-text a:hover{
	/*color:#0D3FFF;*/
	text-decoration:underline;
	text-decoration-thickness: 1px;
}

/*.footer-middle{
	display:flex;
	justify-content: space-between;
	align-items:baseline;
}
*/
.creation-text p{
	margin-bottom:0;
}

.update-text p{
	margin-top:0;
}

/*INDEX PAGE===================================================================================*/

/*LANDING PAGE-------------------------------------------------------------------------------------*/
#landing{
	position:relative;
	/*height:75vh;*/
}

.ethos{
	grid-column:1/11;
}

.ethos h1{
	margin-top:1.25rem;
	margin-bottom:1.25rem;
	color:var(--font-color);
}

.ethos h4{
	margin:2.5rem 0 0 0;
	/*color:var(--font-color);*/
}

.ethos-bar-info{
	display:flex;
}

.ethos-bar-info p{
	margin:0;
	color:var(--font-color);
}

.ethos-bar-location{
	padding-right:2.5rem;
}

#lower-bar{
	/*display:flex;
	justify-content: center;*/
	grid-column:1/14;
	grid-row:2/3;
	display:grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr;
	margin:0 1.25rem;
	padding:0 0 6.25rem 0;
}

.scroll-indicator{
	grid-column: 2/3;
	justify-self: center;
	transition:transform .2s;
}

.theme-buttons{
	grid-column: 3/4;
	display:flex;
	justify-content: flex-end;
}

.choice-overlay{
	opacity:0;
}

.button:hover + .choice-overlay{
	opacity:1;
}


/*WORKS SECTIONS----------------------------------------------------------------------------------------*/
#works .divider-line{
	width:auto;
	margin:0 9.375rem;
}

#works h3{
	margin-top:0;
	margin-bottom:0.625rem;
}

#works h6{
	margin-top:0;
	margin-bottom:2.5rem;
}

.progress-bar-wrapper{
	/*position:sticky;
	top:0;*/
}

.progress-bar{
	display:flex;
	justify-content: flex-start;
	width: clamp(18.75rem,75%,100rem);
	margin:0 auto;
	padding-top:2.5rem;

	background-color:var(--bg-color);
}

.progress-bar a{
	text-decoration: none;
	color:var(--font-color);
}

.progress-bar-works{
	display:flex;
}

.progress-bar-text{
	padding-right:2.5rem;
}

.work-pages-content{
	grid-column: 1/6;
	color:var(--font-color);
}

.work-pages-content a{
	text-decoration: none;
	color:var(--font-color);
}

.work-pages-images-container{
	grid-column:7/13;
	display:grid;
	grid-template-columns: 1fr;
	grid-gap:1.25rem;
}


/*.ethos-bar-location{
	grid-column:1/4;
}

.ethos-bar-status{
	grid-column:5/14;
}*/

/*WORKS PAGE (VENTURA FUTURE)=====================================================================*/
.text-section{
	grid-column: 1/13;
}

#final-thoughts{
	padding-bottom:2.5rem;
}

/*WORK PREVIEW SECTION-----------------------------------------------------------------------*/
.main-grid.works{
	grid-gap:1.25rem;
	color:var(--font-color);
}

#work-preview{
	display:grid;
	grid-template-columns: repeat(12,1fr);
	grid-gap:1.25rem;
	padding-top:5rem;
}

#work-preview h3{
	margin-bottom:1.25rem;
}

#work-preview h6{
	margin-top:0;
}

.work-preview-number{
	color:white;
	position:absolute;
	z-index: 200;
	top:7.75rem;
	left:1.875rem;
}

.work-preview-image{
	grid-column:1/8;
}

.work-preview-image img{
	width:100%;
	height:auto;
	filter:brightness(25%);
}

.work-preview-content{
	grid-column:8/13;
	color:var(--font-color);
}

.info-content ul{
	list-style: none;
	padding:0;
	line-height: 1.5rem;
}


/*GRAPHIC ASSETS-----------------------------------------------------------------*/
#principles-grid{
	grid-column:1/13;
	display:grid;
	grid-template-columns: repeat(12,1fr);
	grid-row:auto;
	padding-top:2.5rem;
	padding-bottom:5rem;
}

.works-header{
	margin-bottom:0;
}

.principles-header{
	grid-column:1/4;
	display:flex;
}

.principle-title{
	margin-bottom:0;
}

.principle{
	grid-column:5/13;
	display:flex;
}

.principle-number{
	margin-bottom:1.25rem;
}

.principle-name{
	padding-left:2.5rem;
	margin-bottom:1.25rem;
}

.graphical-experimentation-header{
	grid-column: 1/13;
}

.graphical-experimentation-image{
	grid-column:2/12;
}

.final-graphic-assets-header{
	grid-column: 1/13;
}

.final-graphic-assets-img1{
	grid-column:1/7;
}

.final-graphic-assets-img2{
	grid-column: 7/13;
}

.final-graphic-assets-img3{
	grid-column: 4/10;
}

/*MICROSITE ASSETS------------------------------------------------------------------------------------*/
.microsite-example{
	grid-column: 1/13;
}

.works-grid{
	display:grid;
	grid-template-columns: repeat(12,1fr);
	grid-gap:1.25rem;
}

.works-subheader{
	margin-top:1.25rem;
	margin-bottom:1.25rem;
	font-weight:600;
}

.example-gif{
	grid-column: 1/8;
}

.exmaple-information{
	grid-column: 8/13;
}

.video-header{
	grid-column: 1/13;
}

.video-header h6{
	margin-top:3rem;
	margin-bottom:0;
}

.example-video{
	grid-column: 1/13;
	padding-bottom:2.5rem;
}

/*FINAL THOUGHTS AND INDEX-----------------------------------------------------------------------*/
#works-index{
	margin:0 2.5rem;
	padding-bottom:4rem;
	color:var(--font-color);
}

#works-index .divider-line{
	width:auto;
}

#works-index h5{
	margin-bottom:0;
}

.works-title{
	display:flex;
	justify-content: space-between;
}

.works-title p{
	margin:0;
}

.works-name{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
}

.left-work{
	grid-column:1/2;
}

.right-work{
	grid-column: 3/4;
	justify-self: end; 
	text-align:right;
}

.works-name p{
	margin:0;
}


/*WORKS PAGE (DIPP'D DONUTS)========================================================================*/
/*WORK PREVIEW SECTION-----------------------------------------------------------------------*/
.work-preview-content.dippd-page{
	grid-column:8/12;
}

/*RESEARCH GATHERINGS-----------------------------------------------------------------*/
.client-goals{
	grid-column:2/12;
}

.user-goals{
	grid-column:2/12;
}

/*Image Modal*/
.image-modal-wrapper{
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	height:100%;
	width:100%;
	overflow:hidden;
	background:rgb(0,0,0, .5);
}

.image-modal{
	margin:auto;
	position:absolute;
	width:50%;
	margin:10%;

}


/*BRAND ITERATIONS------------------------------------------------------------------------------*/
.moodboard-directions-header{
	grid-column: 1/13;
}

.moodboard-image-1{
	grid-column: 1/6;
}

.moodboard-image-2{
	grid-column:1/12;
}


.example-image{
	grid-column: 1/8;
}

/*DEVELOPING THE DESIGN----------------------------------------------------------------------*/
#developing-design{
	padding-top:2.5rem;
}



/*IMPLEMENTING THE DESIGN----------------------------------------------------------------------*/
#implementing-design{
	padding-top:2.5rem;
}

.microsite-example.works-grid .example-video{
	grid-column:1/8;
	padding-bottom:0;
}

/*FINAL VIDEO ASSETS-------------------------------------------------------------------------*/
.example-video.dippd-mobile{
	grid-column:1/4;
}

.example-video.dippd-desktop{
	grid-column:4/13;
}


/*ABOUT ME========================================================================*/
.main-grid-container.about-me{
	color:var(--font-color);
}

.about-me-left-side{
	grid-column:1/6;
}

.about-me-right-side{
	grid-column:7/13;
}

.about-me-right-side img{
	width:50%;
}

.about-h6{
	padding-bottom:0;
	margin-bottom:0;
}

.about-bullets{
	padding:0;
}

.extra-info-1{
	grid-column: 1/4;
	padding-bottom:6.25rem;
}

.extra-info-2{
	grid-column:5/8;
}


/*STYLE GUIDE========================================================================================*/
.main-grid-container.style-guide{
	padding-top:0;
	color:var(--font-color);
}

.style-guide-section{
	padding-bottom:2.5rem;
}

/*BANNER----------------------*/
.banner-wrapper{
	display:flex;
	padding-top:6.25rem;
	padding-bottom:4rem;
	color:var(--font-color);
}

.banner{
	width: clamp(18.75rem,75%,100rem);
	margin:0 auto;
}

.banner h1{
	margin-bottom:0;
}

/*MAIN CONTENT---------------------*/
/*Aside Menu*/
.aside-menu{
	grid-column:1/4;
}

.sticky-element{
	position:sticky;
	top:6.25rem;
	background:var(--bg-color);
	color:var(--font-color);
}


.aside-menu h6{
	margin-top:1.25rem;
	margin-bottom:0;
}

.aside-menu a{
	text-decoration:none;
	color:#0D3FFF;
}

.aside-menu a:hover{
	text-decoration: underline;
}

.aside-menu h6{
	margin-top:1.25rem;
	margin-bottom:0;
}

/*Main Section*/
.main-section{
	grid-column:4/13;
	/*display:grid;*/
}

.main-section h4{
	margin-bottom: 0;
}

.main-section h5{
	margin-bottom: 1.25rem;
}

.main-section .divider-line{
	width:100%;
	margin-bottom:1.5rem;
}

.style-guide-paragraphs{
	margin-right:30%;
}

/*Colours*/
.colour-swatch{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	margin-bottom:1.25rem;
}

.colour-swatch.dark-mode-black{
	border:1px solid black;
}

.colour-swatch.regular-orange{
	margin-top:2.5rem;
}

.colour-name{
	grid-column:1/2;
	padding:2.5rem 1.25rem;
}

.colour-name h6{
	margin-top:0;
	margin-bottom:0;
}

.colour-name p{
	margin-top:0.3125rem;
	margin-bottom:0;
}

.colour-description{
	grid-column:2/3;
	padding:2.5rem 1.25rem;
	justify-self:end;
}

.colour-description p{
	margin-top:0;
	margin-bottom:0;
}

.colour-swatch.white{
	border:1px solid black;
}

/*Typography*/
.headers, .paragraphs, .image-annotations{
	padding-bottom: 2.5rem
}

/*Interactive Elements*/
.scroll-indicator-example{
	display:flex;
	padding-top:1.25rem;
	padding-bottom:1.25rem;
}

.theme-buttons-example{
	display:flex;
	justify-content: flex-start;
	padding-top:1.25rem;
	padding-bottom:1.25rem;
}

#interactive-elements-section{
	padding-bottom: 6.25rem;
}

/*Code Portion*/
.code-snippet{
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:1.25rem;
}

.html-code{
	grid-column:1/2;
}

.css-code{
	grid-column:2/3;
}


/*REFERENCES===============================================*/
.banner-wrapper.references{
	padding-bottom:2.5rem;
}

.main-grid-container.references{
	padding-top:0;
}

#coding-references{
	grid-column:1/8;
	color:var(--font-color);
}

#coding-references h4{
	grid-column:1/8;
	margin-top:0;
	margin-bottom:1.25rem;
}

#coding-references ul, #image-icons-references ul{
	padding-left:0;
}

#image-icons-references{
	grid-column:1/8;
	padding-bottom:10rem;
	color:var(--font-color);
}


#image-icons-references h4{
	margin-bottom:1.25rem
}





