/*GLOBAL========================================================================*/
*{
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

a{
	color:#0D3FFF;
}

/*TYPOGRAPHY-----------------------------------------------------------------------*/
body{
	font-family:"Inter", sans-serif;
	font-weight:400;
	margin:0;
}

h1{
	font-size:3.5rem;
	font-weight: 700;
}

h2{
	font-size:3rem;
	font-weight:600;
}

h3{
	font-size:2.25rem;
	font-weight:600;
}

h4{
	font-size:1.875rem;
	font-weight:600;
}

h5{
	font-size:1.5rem;
	font-weight:600;
}

h6{
	font-size:1.25rem;
}


p{
	font-size:1rem;
	font-weight:400;
}

.footer-fineprint{
	font-size:1rem;
}

.annotations{
	font-size:0.875rem;
	font-weight:500;
	/*font-style:italic;*/
}

.semi-bold{
	font-weight:600;
}

.medium{
	font-weight:500;
}

.non-bold{
	font-weight:400;
}


/*COLOR SWATCHES---------------------------------------------------------------------------------------------*/
.regular-orange{
	background:#FF9425;
	color:#FFFFFF;
}

.light-orange{
	background:#FFBB73;
}

.dark-mode-black{
	background:#373A36;
}

.regular-orange-text{
	color:#FF9425;
}

.light-orange-text{
	color:#FFBB73;
}

.white{
	background:white;
}

/*BUTTONS------------------------------------------------------------------------------------------*/
.button{
	border-radius:10px;
	padding:5px 10px 5px 10px;
	border:2px solid black;
}

.button.light-mode{
	margin-right:0.625rem;
}


/*NAVIGATION BAR---------------------------------------------------------------------------------*/
header{
	/*position:sticky;
	top:0;
	height:0;
	z-index:999;*/
	display:flex;
	justify-content: space-between;
	padding:1.25rem 1.875rem;
	background:white;
}

header a{
	text-decoration: none;
}

.nav-logo h6{
	margin:0;
}

.nav-links{
	display:flex;
	justify-content: space-between;
}

.nav-links h6{
	display:flex;
	justify-content: space-between;
	margin:0;
	color:black;
}

.link-one{
	padding-right:2.5rem	;
}

/*DIVIDER LINE--------------------------------------------------------------------------------------*/
.divider-line{
	display:block;
	width:clamp(70%,75%,80%);
	height:1px;
	background: rgb(0,0,0, .5);
	margin: 1em 0;
	padding:0;
}

/*FOOTER------------------------------------------------------------------------------------------------*/
.footer-container{
	display:grid;
	padding:2rem 2.5rem;
}

.footer-container a{
	text-decoration:none;
	color:black;
}

.footer-container h5{
	margin:0;
	margin-bottom:0.625rem;
}

.footer-container p{
	margin:0.625rem 0rem;
	margin-top:0;
	margin-bottom:0;
}

.footer-middle{
	display:flex;
	justify-content: space-between;
	align-items:baseline;
}

.creation-text p{
	margin-bottom:0;
}

.update-text p{
	margin-top:0;
}

/*INDEX PAGE===================================================================================*/

/*LANDING PAGE-------------------------------------------------------------------------------------*/
#landing{
	position:relative;
	height:75vh;
}

.ethos{
	grid-column:1/11;
}

.ethos h1{
	margin-top:1.25rem;
	margin-bottom:1.25rem;
}

.ethos h4{
	margin:2.5rem 0 0 0;
}

.ethos-bar-info{
	display:flex;
}

.ethos-bar-info p{
	margin:0;
}

.ethos-bar-location{
	padding-right:2.5rem;
}

#lower-bar{
	/*display:flex;
	justify-content: center;*/
	grid-column:1/14;
	grid-row:2/3;
	display:grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr;
	margin:0 1.25rem;
	padding:0 0 6.25rem 0;
}

.scroll-indicator{
	grid-column: 2/3;
	justify-self: center;
}

.theme-buttons{
	grid-column: 3/4;
	display:flex;
	justify-content: flex-end;
}

/*WORKS SECTIONS----------------------------------------------------------------------------------------*/
#works .divider-line{
	width:auto;
	margin:0 9.375rem;
}

#works h3{
	margin-top:0;
	margin-bottom:0.625rem;
}

#works h6{
	margin-top:0;
	margin-bottom:2.5rem;
}

.progress-bar-wrapper{
	/*position:sticky;
	top:0;*/
}

.progress-bar{
	display:flex;
	justify-content: flex-start;
	width: clamp(18.75rem,75%,100rem);
	margin:0 auto;
	padding-top:2.5rem;
}

.progress-bar a{
	text-decoration: none;
	color:black;
}

.progress-bar-works{
	display:flex;
}

.progress-bar-text{
	padding-right:2.5rem;
}

.work-pages-content{
	grid-column: 1/6;
}

.work-pages-content a{
	text-decoration: none;
	color:black;
}

.work-pages-images-container{
	grid-column:7/13;
	display:grid;
	grid-template-columns: 1fr;
	grid-gap:1.25rem;
}


/*.ethos-bar-location{
	grid-column:1/4;
}

.ethos-bar-status{
	grid-column:5/14;
}*/

/*WORKS PAGE (VENTURA FUTURE)=====================================================================*/
.text-section{
	grid-column: 1/13;
}

#final-thoughts{
	padding-bottom:2.5rem;
}

/*WORK PREVIEW SECTION-----------------------------------------------------------------------*/
.main-grid.works{
	grid-gap:1.25rem;
}

#work-preview{
	display:grid;
	grid-template-columns: repeat(12,1fr);
	grid-gap:1.25rem;
	padding-top:4rem;
}

#work-preview h3{
	margin-bottom:1.25rem;
}

#work-preview h6{
	margin-top:0;
}

.work-preview-number{
	color:white;
	position:absolute;
	z-index: 999;
	top:7.75rem;
	left:1.875rem;
}

.work-preview-image{
	grid-column:1/8;
}

.work-preview-image img{
	width:100%;
	height:auto;
	filter:brightness(25%);
}

.work-preview-content{
	grid-column:8/13;
}

.info-content ul{
	list-style: none;
	padding:0;
	line-height: 1.5rem;
}


/*GRAPHIC ASSETS-----------------------------------------------------------------*/
#principles-grid{
	grid-column:1/13;
	display:grid;
	grid-template-columns: repeat(12,1fr);
	grid-row:auto;
	padding-top:2.5rem;
	padding-bottom:5rem;
}

.works-header{
	margin-bottom:0;
}

.principles-header{
	grid-column:1/4;
	display:flex;
}

.principle-title{
	margin-bottom:0;
}

.principle-1{
	grid-column:5/13;
	display:flex;
}

.principle-2{
	grid-column:5/13;
	display:flex;
}

.principle-3{
	grid-column:5/13;
	display:flex;
}

.principle-4{
	grid-column:5/13;
	display:flex;
}

.principle-number{
	margin-bottom:1.25rem;
}

.principle-name{
	padding-left:2.5rem;
	margin-bottom:1.25rem;
}

.graphical-experimentation-header{
	grid-column: 1/13;
}

.graphical-experimentation-image{
	grid-column:3/11;
}

.final-graphic-assets-header{
	grid-column: 1/13;
}

.final-graphic-assets-img1{
	grid-column:1/7;
}

.final-graphic-assets-img2{
	grid-column: 7/13;
}

.final-graphic-assets-img3{
	grid-column: 4/10;
}

/*MICROSITE ASSETS------------------------------------------------------------------------------------*/
.microsite-example{
	grid-column: 1/13;
}

.works-grid{
	display:grid;
	grid-template-columns: repeat(12,1fr);
	grid-gap:1.25rem;
}

.works-subheader{
	margin-top:1.25rem;
	margin-bottom:1.25rem;
	font-weight:600;
}

.example-gif{
	grid-column: 1/8;
}

.exmaple-information{
	grid-column: 8/13;
}

.video-header{
	grid-column: 1/13;
}

.video-header h6{
	margin-top:3rem;
	margin-bottom:0;
}

.example-video{
	grid-column: 1/13;
	padding-bottom:2.5rem;
}

/*FINAL THOUGHTS AND INDEX-----------------------------------------------------------------------*/
#works-index{
	margin:0 2.5rem;
	padding-bottom:4rem;
}

#works-index .divider-line{
	width:auto;
}

#works-index h5{
	margin-bottom:0;
}

.works-title{
	display:flex;
	justify-content: space-between;
}

.works-title p{
	margin:0;
}

.works-name{
	display:flex;
	justify-content: space-between;
}

.works-name p{
	margin:0;
}


/*WORKS PAGE (DIPP'D DONUTS)========================================================================*/
/*WORK PREVIEW SECTION-----------------------------------------------------------------------*/
.work-preview-content.dippd-page{
	grid-column:8/12;
}

/*RESEARCH GATHERINGS-----------------------------------------------------------------*/
.client-goals{
	grid-column:1/7;
}

.user-goals{
	grid-column:7/13;
}


/*BRAND ITERATIONS------------------------------------------------------------------------------*/
.moodboard-directions-header{
	grid-column: 1/13;
}

.moodboard-image-1{
	grid-column: 1/6;
}

.moodboard-image-2{
	grid-column:6/13;
}


.example-image{
	grid-column: 1/8;
}

/*DEVELOPING THE DESIGN----------------------------------------------------------------------*/
#developing-design{
	padding-top:2.5rem;
}



/*IMPLEMENTING THE DESIGN----------------------------------------------------------------------*/
#implementing-design{
	padding-top:2.5rem;
}

/*FINAL VIDEO ASSETS-------------------------------------------------------------------------*/
.example-video.dippd-mobile{
	grid-column:1/4;
}

.example-video.dippd-desktop{
	grid-column:4/13;
}


/*THIS IS ME (ABOUT PAGE)========================================================================*/
.about-me-left-side{
	grid-column:1/6;
}

.about-me-right-side{
	grid-column:7/13;
}

.about-me-right-side img{
	width:50%;
}

.about-h6{
	padding-bottom:0;
	margin-bottom:0;
}

.about-bullets{
	padding:0;
}

.extra-info-1{
	grid-column: 1/4;
	padding-bottom:6.25rem;
}

.extra-info-2{
	grid-column:5/8;
}
